@model SportsX.Domain.Entities.Cliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaFisica.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PessoaFisica.Cpf)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaJuridica.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PessoaJuridica.Cnpj)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PessoaJuridica.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Cep)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Rua)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Numero)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Complemento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Cidade)
        </dd>


        @foreach (var item in Model.Telefones)
        {
            <dt class="col-sm-2">
                @Html.DisplayName("Telefone")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Numero)
            </dd>
        }


    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para listagem de clientes</a>
</div>
